@page "/unauthorized"
<div class="row">
    <div class="align-items-center">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Not Authorized!</h1>
                <p class="text-center fs-2">Your requested page that you are not authorized. Please contact administrator.</p>
                <p class="text-center fs-3"><a href="/" class="btn btn-primary btn-lg">Home</a></p>
            </div>
        </div>
    </div>
</div>

