@using Blogger.Domain.Entities;
@using System.Security.Claims;
@foreach (var item in Posts)
{
	<div class="blog-entry d-flex blog-entry-search-item">
		<a href="/postdetails/@item.Id" class="img-link me-4">
			<img src="@item.ImageUrl" alt="Image" class="img-fluid">
		</a>
		<div>
			<span class="date">
				@item.CreatedDate &nbsp;&nbsp;&nbsp;
				@if (item.UserId == CurrentUserId)
				{
					<a href="/editpost/@item.Id" style="color:blue">Edit Post</a>
				}
			</span>
			<h2><a href="/postdetails/@item.Id">@item.Title</a></h2>
			<p>@item.Introduction</p>
			<p><a href="/postdetails/@item.Id" class="btn btn-sm btn-outline-primary">Read More</a></p>
		</div>
	</div>
}
@code {
	[Parameter]
	public IEnumerable<Post> Posts { get; set; }

	public int CurrentUserId { get; set; }
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }
	protected override async Task OnInitializedAsync()
	{

		var authState = await authenticationState;
		var user = authState.User;

		if (user.Identity.IsAuthenticated)
		{
			CurrentUserId = int.Parse(user.FindFirst(ClaimTypes.NameIdentifier)?.Value);
		}
	}
}
