<footer class="site-footer">
    <div class="container">

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!--
                    **==========
                    NOTE:
                    Please don't remove this copyright link unless you buy the license here https://untree.co/license/
                    **==========
                  -->
                <p>
                    Man Vo Minh Blazor Web Assembly Application <br/>
                    Copyright &copy;2023. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
                </p>
            </div>
        </div>
    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->
@code {

}
@* <footer class="bg-info text-center text-lg-start fixed-bottom">
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);color:white !important">
        © 2023 Copyright:
        <a class="text-dark" style="color:white !important" href="https://vominhman.com/">Man Vo Minh</a>
    </div>
    <!-- Copyright -->
</footer> *@
